@use "../util/breakpoints" as b;
@use "../util/functions" as f;
@use "../util/mixins" as m;
@use "../util/variables" as v;

.main {
  padding-bottom: f.rem(80);

  &__results {
    padding-bottom: f.rem(60);
  }

  &__image {
    padding-bottom: f.rem(48);
  }

  &__result-header {
    color: var(--color-gun-mental);
    padding-bottom: f.rem(32);
  }

  &__result-meaning {
    color: var(--color-dark-electric-blue);
    font-weight: v.$font-regular;
    font-size: f.rem(16);
  }

  &__health-tips-eating {
    padding-bottom: f.rem(40);
  }

  &__health-tips-eating-image {
    padding-bottom: f.rem(24);
  }

  &__health-tips-eating-header {
    padding-bottom: f.rem(24);
    color: var(--color-gun-mental);
  }

  &__health-tips-eating-info {
    color: var(--color-dark-electric-blue);
  }

  &__health-tips-exercise {
    padding-bottom: f.rem(40);
  }

  &__health-tips-exercise-image {
    padding-bottom: f.rem(24);
  }

  &__health-tips-exercise-header {
    padding-bottom: f.rem(24);
    color: var(--color-gun-mental);
  }

  &__health-tips-exercise-info {
    color: var(--color-dark-electric-blue);
    padding-right: f.rem(20);
  }

  &__health-tips-sleep {
    padding-bottom: f.rem(40);
  }

  &__health-tips-sleep-image {
    padding-bottom: f.rem(24);
  }

  &__health-tips-sleep-header {
    padding-bottom: f.rem(24);
    color: var(--color-gun-mental);
  }

  &__health-tips-sleep-info {
    color: var(--color-dark-electric-blue);
  }

  &__health-tips-eating,
  &__health-tips-sleep,
  &__health-tips-exercise {
    @include b.breakpoint(medium) {
      display: flex;
    }
  }

  &__health-tips-eating-image,
  &__health-tips-sleep-image,
  &__health-tips-exercise-image {
    @include b.breakpoint(medium) {
      padding-top: f.rem(24)
    }
  }

  &__health-item {
    @include b.breakpoint(medium) {
      padding-left: f.rem(40);
    }
  }

  &__bmi-facts {
    @include b.breakpoint(medium) {
      @include m.grid;
    }
  }

  &__bmi-facts-limitations {
    padding-bottom: f.rem(56);

    @include b.breakpoint(medium) {
      grid-area: 1/1/2/3;
    }
  }

  &__bmi-facts-limitations-header {
    color: var(--color-gun-mental);
    text-align: center;
    padding-bottom: f.rem(32);
  }

  &__bmi-facts-limitations-info {
    text-align: center;
    color: var(--color-dark-electric-blue);
    padding-left: f.rem(10);
    padding-right: f.rem(10);

    @include b.breakpoint(medium) {
      padding-left: f.rem(32);
      padding-right: f.rem(32);
    }
  }

  &__bmi-facts-gender-header,
  &_bmi-facts-age-header,
  &__bmi-facts-muscle-header,
  &__bmi-facts-pregnancy-header,
  &__bmi-facts-race-header {
    color: var(--color-gun-mental);
  }

  &__bmi-facts-gender-info,
  &__bmi-facts-age-info,
  &__bmi-facts-pregnancy-info,
  &__bmi-facts-muscle-info,
  &__bmi-facts-race-info {
    color: var(--color-dark-electric-blue);
    font-size: f.rem(16);
    font-weight: v.$font-regular;
    padding-left: f.rem(24);
    padding-right: f.rem(40);
    padding-bottom: f.rem(24);

    @include b.breakpoint(medium) {
      padding-left: f.rem(32);
      padding-right: f.rem(32);
      padding-bottom: f.rem(32);
    }
  }

  &__bmi-facts-gender,
  &__bmi-facts-age,
  &__bmi-facts-muscle,
  &__bmi-facts-pregnancy,
  &__bmi-facts-race {
    margin-bottom: f.rem(16);
    @include m.box-shadow;
  }

  &__bmi-facts-gender {
    @include b.breakpoint(medium) {
      grid-area: 2/1/3/2;
    }
  }

  &__bmi-facts-age {
    @include b.breakpoint(medium) {
      grid-area: 2/2/3/3;
    }
  }

  &__bmi-facts-muscle {
    @include b.breakpoint(medium) {
      grid-area: 3/1/4/2;
    }
  }

  &__bmi-facts-pregnancy {
    @include b.breakpoint(medium) {
      grid-area: 3/2/4/3;
    }
  }

  &__bmi-facts-race {
    @include b.breakpoint(medium) {
      grid-column: 1 / 3;
      max-width: f.rem(365);
      margin: auto;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: f.rem(16);
    padding-top: f.rem(24);
    padding-bottom: f.rem(16);
    padding-left: f.rem(24);

    @include b.breakpoint(medium) {
      padding-top: f.rem(32);
      padding-left: f.rem(32);
    }
  }

  &__image {
    @include b.breakpoint(medium) {
      width: f.rem(360.96);
      height: f.rem(411.09);
    }
  }
}

.result_wrapper {
  width: min(100% - f.rem(32), f.rem(465));
  margin-inline: auto;

  @include b.breakpoint(medium) {
    width: none;
    margin-inline: 0rem;
  }
}

.wrapper-health-tips {
  width: min(100% - f.rem(32), f.rem(1392));
  margin-inline: auto;
}

.wrapper-bmi-facts {
  width: min(100% - f.rem(32), f.rem(1160));
  margin-inline: auto;
}